.hero-products-container .hero-products-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-products {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-products h1,
.hero-products h2,
.hero-products h3,
.hero-products h4,
.hero-products h5,
.hero-products h6,
.hero-products p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-products.no-image * {
  color: var(--text-color);
}

.hero-products picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-products img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-products {
    padding: 40px 32px;
  }
}
