/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* WKND Trendsetters Design Tokens */

  /* colors */
  --background-color: #fff;
  --light-color: #f7f8f5;
  --dark-color: #000;
  --text-color: #000;
  --text-color-inverse: #fff;
  --text-color-muted: rgba(255, 255, 255, 0.7);
  --link-color: #000;
  --link-hover-color: #000;
  --accent-color: #f4fe8b;
  --accent-color-transparent: rgba(244, 254, 139, 0.5);
  --accent-color-bg: rgba(244, 254, 139, 0.1);

  /* fonts */
  --body-font-family: "Instrument Sans", instrument-sans-fallback, sans-serif;
  --heading-font-family: Syncopate, syncopate-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 14.08px;
  --body-font-size-s: 14.08px;
  --body-font-size-xs: 14.08px;
  --body-line-height: 1.6;

  /* heading sizes */
  --heading-font-size-xxl: 90.4px;
  --heading-font-size-xl: 45.28px;
  --heading-font-size-l: 22.56px;
  --heading-font-size-m: 22.56px;
  --heading-font-size-s: 22.56px;
  --heading-font-size-xs: 22.56px;

  /* heading properties */
  --heading-font-weight: 400;
  --heading-line-height: 1.04;
  --h1-letter-spacing: -0.904px;
  --h2-letter-spacing: -0.4528px;
  --h3-letter-spacing: -0.2256px;
  --h1-margin-bottom: 27.12px;
  --h2-margin-top: 20px;
  --h3-margin-bottom: 11.28px;

  /* button properties */
  --button-border-radius: 1600px;
  --button-padding: 16px 24px;
  --button-background-color: #000;
  --button-text-color: #fff;
  --button-box-shadow: none;
  --button-box-shadow-hover: rgb(0, 0, 0) 0px 0px 0px 2px inset, var(--accent-color-transparent) 4px 4px 0px 0px;
  --button-background-hover: #333;
  --button-transition: border-color 0.2s, color 0.2s, background-color 0.2s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.2s;

  /* link properties */
  --link-transition: color 0.2s;

  /* section spacing */
  --section-padding: 128px 0;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: syncopate-fallback;
  size-adjust: 95%;
  src: local('Arial Narrow'), local('Helvetica Condensed'), local('Arial');
}

@font-face {
  font-family: instrument-sans-fallback;
  size-adjust: 100%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
  letter-spacing: var(--h1-letter-spacing);
  margin-bottom: var(--h1-margin-bottom);
}

h2 {
  font-size: var(--heading-font-size-xl);
  letter-spacing: var(--h2-letter-spacing);
  margin-top: var(--h2-margin-top);
}

h3 {
  font-size: var(--heading-font-size-l);
  letter-spacing: var(--h3-letter-spacing);
  margin-bottom: var(--h3-margin-bottom);
}

h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
  transition: var(--link-transition);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 0 solid transparent;
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: var(--button-box-shadow);
  transition: var(--button-transition);
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--button-background-hover);
  box-shadow: var(--button-box-shadow-hover);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--background-color);
  margin: 0;
  padding: var(--section-padding);
}

main .section.grey, main .section.secondary {
  background-color: var(--light-color);
  color: var(--text-color);
  margin: 0;
  padding: var(--section-padding);
}

main .section.dark {
  background-color: var(--dark-color);
  color: var(--text-color-inverse);
  margin: 0;
  padding: var(--section-padding);
}

main .section.dark h1,
main .section.dark h2,
main .section.dark h3,
main .section.dark h4,
main .section.dark h5,
main .section.dark h6 {
  color: var(--text-color-inverse);
}

main .section.dark p {
  color: var(--text-color-muted);
}

main .section.dark a:any-link {
  color: var(--text-color-inverse);
}
